[data-theme="light"] {
  color: rgb(0, 0, 0);
  --header-bg-col: rgb(255, 196, 250);
}
[data-theme="dark"] {
  color: rgb(255, 196, 250);
  --header-bg-col: black;
}

[data-theme="hawaii"] {
  color: rgb(218, 0, 149);
  --header-bg-col: rgb(29, 255, 244);
}

header {
  background-color: var(--header-bg-col);
}
